<div class=" main-content">

  <div class=" container mt-5 pb-1">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">
          <div class="logo-area">
              <img class="logo-top" src="assets/img/logo/mpsp-logo.png">
              <h3 class="">eADUAN | RESET</h3>
          </div>
          <div class=" card-body px-lg-5 py-lg-5">

            <form role="form">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-default"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Emel"
                    type="email"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4 bg-default">
                  Hantar
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class=" row mt-3">
          <div class=" col-6">
            <a class=" text-light" [routerLink]="['/auth/login']">
              <small> Log Masuk </small>
            </a>
          </div>

          <div class=" col-6 text-right">
            <a class=" text-light" [routerLink]="['/auth/register']">
              <small> Daftar akaun </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
