<div class=" header bg-secondary pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">Aduan</h6>
        </div>


      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-7">
            <div class="card">    
                <div class="card-header bg-secondary">
                    <div class=" row align-items-center">
                        <div class=" col-8"><h3 class=" mb-0">Daftar Aduan Baru</h3></div>
                        <div class=" col-4 text-right">
                            <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                                Hantar
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" card-body">
                    <form>
                        <h6 class=" heading-small text-muted mb-4">Aduan</h6>

                        <div class=" pl-lg-4">
                            <div class=" row">
                                <div class=" col-lg-6">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-username">
                                        Lokasi
                                        </label>

                                        <input
                                        class=" form-control bg-secondary"
                                        id="input-username"
                                        placeholder="Lokasi"
                                        type="text"
                                        />
                                    </div>
                                </div>

                                <div class=" col-lg-6">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-email">
                                        Tarikh
                                        </label>

                                        <input
                                        class=" form-control bg-secondary"
                                        id="input-email"
                                        placeholder="Tarikh"
                                        type="email"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" form-group">
                                        <label class=" form-control-label">Aduan</label>
                        
                                        <textarea
                                        class=" form-control bg-secondary"
                                        rows="4"
                                        >
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="card">
                <div class="card-header border-0 bg-secondary">
                    <h3 class="mb-0">Status Aduan</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tarikh Hantar</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    ADN4214
                                </th>
                                <td>15 Januari 2019</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"> </i>

                                        <span class="status"> Dalam Tindakan </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    ADN8121
                                </th>
                                <td>25 Februari 2019</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-success"> </i>

                                        <span class="status"> Selesai </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="row card-header border-0 bg-secondary">
                    <div class="col-lg-6 text-left">
                        <h4 class="mb-0">Tahap Kepuasan Penyelesaian Aduan</h4>
                    </div>
                    <div class=" col-lg-6 col-5 text-right">
                        <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                            Hantar
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label class="form-control-label">ID Aduan</label>
                                <select class="browser-default custom-select bg-secondary">
                                    <option selected hidden>Pilih aduan lepas</option>
                                    <option value="1">ADN373</option>
                                    <option value="2">ADN124</option>
                                    <option value="3">ADN241</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label class="form-control-label">Tahap Kepuasan</label>
                                <select class="browser-default custom-select bg-secondary">
                                    <option selected hidden>Pilih tahap kepuasan anda</option>
                                    <option value="1">1 - Amat Tidak Memuaskan</option><
                                    <option value="2">2 - Tidak Memuaskan</option>
                                    <option value="3">3 - Sederhana</option>
                                    <option value="4">4 - Memuaskan</option>
                                    <option value="5">5 - Amat Memuaskan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>